html, body {
  margin: 0;
  height: 100%;
  background: #000;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

#video-container {
  position: relative;
  display: inline-block; /* shrink to fit video exactly */
}

#webcam {
  transform: scaleX(-1); /* mirror */
  display: block;
  max-width: calc(100vw - 100px);  /* 50px margins left/right */
  max-height: calc(100vh - 100px); /* 50px margins top/bottom */
  width: auto;
  height: auto;
  opacity: 0;
}

.finger-label {
  position: absolute;
  color: white;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  line-height: 0.8em;
  max-width: 80px;
}
